<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <main>
      <!-- main header -->
      <header><h1>EXPENSE TRACKER</h1></header>
      <!-- form for insert -->
      <section>
        <form action="/insert" method="post">
          <label for="title">Title</label>
          <input type="text" name="title" />
          <label for="category">Category</label>
          <input type="text" name="category" />
          <label for="amount">Amount</label>
          <input type="text" name="amount" />
          <button>Submit</button>
        </form>
      </section>
      <!-- table section -->
      <section>
        <table>
          <thead>
            <th>id</th>
            <th>title</th>
            <th>amount</th>
            <th>delete</th>
          </thead>
          <tbody id="tbody"></tbody>
        </table>
      </section>
    </main>
  </body>
  <script src="/public/js/main.js" type="module"></script>
</html>
