* {
  margin: 2px;
  box-sizing: border-box;
}

table,
table * {
  border: 2px solid black;
}

h1 {
  text-align: center;
}

/* working with forms */

form {
  margin: 0 auto;
  max-width: 20%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

form > button {
  cursor: pointer;
  padding: 4px;
  grid-column: span 2;
  margin: 0 auto;
  width: 40%;
  border: none;
  background-color: #009e00;
  color: white;
}

form > button:hover {
  background-color: #008e00;
}
input {
  width: 200px;
}

/* working on table */

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th {
  text-transform: capitalize;
  padding: 8px;
}
td {
  padding: 4px;
  width: 70px;
  text-align: center;
}
